@media (max-width: 1439px) {
  .sidepanel {
    display: none;
  }
}
@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
  .about {
    &__wrapper {
      grid-template-columns: 400px 520px;
      column-gap: 40px;
    }
    &__skills {
      column-gap: 20px;
      grid-template: repeat(2,minmax(115px,auto))/repeat(2,250px);
      &-item {
        grid-template-columns: 40px 195px;
        column-gap: 15px;
      }
    }
  }
  .resume {
    &__wrapper {
      padding: 40px 20px 0 20px;
      column-gap: 80px;
    }
  }
  .skills {
    &__items {
      grid-template-columns: repeat(auto-fit, 270px);
      justify-content: space-between;
    }
    &__ratings {
      grid-template-columns: repeat(auto-fit, 350px);
      grid-auto-rows: minmax(70px, auto);
      justify-content: space-between;
      padding: 0 30px;
    }
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }
  .title {
    &_fz36 {
      font-size: 30px;
      line-height: 42px;
      margin-top: 26px;
      margin-bottom: 15px;
    }
  }
  .divider {
    margin: 0 auto;
  }
  .about {
    &__wrapper {
      grid-template-columns: 300px 380px;
    }
    &__skills {
      grid-template-columns: 380px;
      grid-auto-rows: minmax(115px,auto);
      &-item {
        grid-template-columns: 40px 320px;
        column-gap: 20px;
      }
    }
  }
  .resume {
    &__wrapper {
      column-gap: 60px;
      grid-template-columns: repeat(2,320px);
    }
  }
  .skills {
    &__items {
      padding: 0 20px;
    }
    &__ratings {
      grid-template-columns: repeat(auto-fit, 320px);
      justify-content: space-between;
      padding: 0;
      column-gap: 0;
      &-line {
        width: 100%;
      }
    }
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }
  .title {
    &_fz48 {
      font-size: 28px;
    }
  }
  .promo {
    &__title {
      line-height: 39px;
      width: 300px;
    }
  }
  .about {
    padding-top: 40px;
    &__wrapper {
      grid-template: 400px auto auto / 1fr;
    }
    &__photo {
      grid-row: unset;
    }
    &__skills {
      grid-template-columns: repeat(2, 260px);
      &-item {
        grid-template-columns: 40px 200px;
        column-gap: 20px;
      }
    }
  }
  .resume {
    padding-top: 40px;
    &__wrapper {
      grid-template-columns: 1fr;
      column-gap: 60px;
      row-gap: 40px;
    }
  }
  .skills {
    padding-top: 40px;
    &__items {
      padding: 0;
      justify-content: center;
      gap: 20px;
    }
    &__ratings {
      grid-template-columns: repeat(auto-fit, 320px);
      grid-auto-rows: minmax(70px, auto);
      justify-content: center;
      margin-top: 40px;
      &-line {
        width: 100%;
      }
    }
  }
}

@media (max-width: 576px) {
  .container {
    width: 100%;
    padding: 0 10px;
  }
  .title {
    &_fz48 {
      font-size: 26px;
    }
    &_fz36 {
      font-size: 24px;
      line-height: 36px;
    }
  }
  .hamburger {
    right: 20px;
  }
  .menu {
    &__block {
      width: 250px;
      padding-left: 20px;
    }
  }
  .promo {
    background: url('../img/photo.main.jpg') no-repeat 57%/cover;
    &__btns {
      margin-top: 30px;
    }
  }
  .about {
    &__wrapper {
      grid-template: 340px auto auto / 1fr;
    }
    &__skills {
      grid-template-columns: 1fr;
    }
  }
  .resume {
    &__wrapper {
      padding: 40px 5px 0 5px;
    }
  }
  .skills {
    &__items {
      margin-top: 20px;
    }
    &__ratings {
      grid-template-columns: repeat(auto-fit,300px);
    }
  }
}