.portfolio {
  padding-top: 120px;
  &__wrapper {
    margin-top: 60px;
    display: grid;
    grid-template: repeat(2, 280px) / repeat(4, 280px);
    grid-auto-rows: 280px;
    gap: 5px;
    .vertical {
      grid-row: 1 / 3;
      grid-column: 4 / 5;
    }
    .horizonal {
      grid-row: 2 / 3;
      grid-column: 2 / 4;
    }
  }
  &__item {
    transition: all 0.6s;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      }

    &:hover {
      filter: grayscale(100%);
  }
  }
}