.sidepanel {
  position: fixed;
  top: 230px;
  left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 340px;
  z-index: 3;
  &__divider {
    width: 2px;
    height: 70px;
    background-color: #000;
  }
  &__text {
    height: 150px;
    width: 25px;
    span {
      transform: rotate(-90deg) translate(-30%,-260%);
      display: block;
      width: 150px;
    }

  }
}